*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: 'pokemontxt';
    src: url(/W4B_redo/fonts/pokemon-emerald.ttf);
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: magenta;
}
body{
    background-color: slategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.sidebarL{
    height: 100vh;
    width: 10%;
    background-color: black;
    position: fixed;
}
main{
    background-color: black;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    display: inline-block;
}
section{
    background-color: rgb(168, 164, 164);
    height: 80vh;
    width: 100%;
    margin-bottom: 8%;
    display: inline-block;
    text-align: center;
}
section h1{
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    position: absolute;
    top:40%;
    left: 35%;
}
.Main{
    background-image: url(/W4B_redo/img/LetsBattle.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 13%;
}
.logo{
    position: sticky;
    background-image: url(/W4B_redo/img/plogo.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 80vw;
    height: 17vh;
    background-size: 17% 100%;
    top: 10px;
}
div.sidebarR{
    height: 100vh;
    width: 10%;
    background-color: black;
    float: right;
    position: fixed;
    right: 0px;
    top: 0px;
}
#foot{
    background-color: black;
    width: 80%;
    height: 20%;
    margin-left: 10%;
    margin-right: 0%;
    position: fixed;
    bottom: 0px;
    font-family: 'pokemontxt', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;
    text-shadow: 1px 3px 4px rgb(68, 68, 68);
    clear: both;
}
#parent1{
    background-color: #ff0000;
    width: 100%;
    height: 98%;
    border-radius: 25px;
    border-style: solid;
    box-shadow: 2px 2px 2px 2px black inset;
}
#parent1a{
    background-color: rgb(3, 117, 70);
    width: 94%;
    height: 93%;
    border-radius: 20px;
    margin-top: .6%;
    margin-left: 3%;
    box-shadow: 1px 1px 1px 1px #ff0000 inset;
}
#parent1a p{
    color: rgb(226, 224, 224);
    font-size: 2vw;
    margin: 0;
    position: absolute;
    top: 32%;
    left: 32%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#parent2{
    background-color: rgb(226, 224, 224);
    height: 96%;
    width: 39%;
    margin-top: .35%;
    /*float: right;*/
    border-color: rgb(40, 20, 95);
    border-style: ridge;
    border-width: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black inset;
    position: absolute;
    bottom: 4px;
    right: 0px;
    display: flex;
    justify-content: space-between;
}
#battlemenu1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10%;
    height: 100%;
}
#battlemenu2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20%;
    height: 100%;
}